<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style> 
    body {
    font-family: tahoma;
    color:#854a4a;
    margin: 0px;
  }

  .text {
  
  background: #FFFFFF;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  color: #444444;
  background: #FFFFFF;
  }

  
  button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: rgb(161, 13, 33);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

 .button1 {
  background-color: rgb(63, 153, 66);
  color: rgb(151, 255, 191);
  border: 2px solid rgb(74, 156, 77);
}

  .button1:hover {  
  background-color: rgb(255, 255, 255); 
  color:  rgb(121, 53, 248);
}
  .nav-bar {
    background: linear-gradient(-90deg, rgb(95, 175, 68), rgb(192, 22, 65));
    height: 60px;
    margin-bottom: 15px;
  }

  </style>
</head>
<body>  
    <div class="nav-bar"> </div>
  <div class="text"> 
    <div id="inputInsert" class="textbutton">
   <center> <input v-model="message">
    <p> {{ message }} </p>
    <button class="button button1" v-on:click="reverseMessage"> Inverter Mensagem</button></center>
    </div>

    <div id="app-2">
      <ol>
        <li v-for="todo in todos"> 
         {{ todo.text }}
         
        </li>
       <div class="submit">
        <p><input type="text" v-model="todoText" v-on:keyup.enter="insertMessage()" placeholder="Add here a new item"></p>
        <p><button class="button button1" v-on:click="insertMessage()" v-on:keyup.enter="insertMessage()">Adicionar</button></p>
        </div>
      </ol>
    </div>
  </div>  
    <script>
        var input = new Vue ({
            el: '#inputInsert',
            data: {
                message: 'Insert a new text'
            },
            methods: {
              reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
              }
            }
        })

       var app2 = new Vue ({
          el: '#app-2',
          data: {
            todoText: '',
            todos: [
              { text: 'This is'},
              { text: 'How we'},
              { text: 'Do the'},
              { text: 'Multiples'},
              { text: 'Texts'},
            ],
          },
          methods: {
            insertMessage: function () {
              var newTodo = this.todoText;
			        if (!newTodo) {return;}
			        this.todos.push(
				      {text: newTodo}
			        );
			        this.todoText = '';
            },
          }
        })
    </script>


    </body>
</html>